<div class="d-flex" style="margin-left: 18px;">
  <button class="btn align-items-center" [routerLink]="['/']">Home</button>
</div>
<div class="jumbotron">
  <p class="lead">Proyecto Coder</p>
  <p class="lead">Emilio Martinez</p>
  <!-- <hr class="my-4"> -->
</div>

<div class="card text-center">
  <div class="card-header">
    Los Caballeros del Zodiaco
  </div>
  <div class="card-body">
    <h5 class="card-title">Lista de Caballeros del Zodiaco Agregados</h5>
    <p class="card-text">No te pierdas la lista de todos los guerreros que tenemos hasta el momento:</p>
    <button class="btn btn-primary align-items-center" [routerLink]="['/caballeros']">Ver Listado</button>
  </div>
</div>